@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
body{
  font-family: 'Titillium Web', sans-serif;
}

p, ul{
  font-family: 'Titillium Web', sans-serif;
}

{
  color: Black;
  text-decoration: underline;
}

.titre {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: skyblue;
    margin-top: -20px;
    margin-right: 0px;
}

.menu{
   font-size: 30px;
    padding-left: 20px;
    color: white;

}

.menu :hover {
    color: #5C8EF5;
    font-weight: bold;
    font-size: 32px;
    text-decoration:none;

}
.titre1{


    margin-top: 35vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
   padding-left: 25%;
    color:white;
    font-size: 75px;
    font-family: 'Roboto', sans-serif, bold;

}

.logoECM{

    margin-left: 52%;
    margin-top: 10%;


}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: skyblue; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.1s;

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
    font-weight: bold;
    text-decoration:none;
    font-size: 22px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

form.example{
  margin-top: 55%;
  margin-left: 10px;
  margin-right: 10px;
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
